@model IEnumerable<Desafio.WebApp.ViewModels.EmprestimoViewModel>

@{
    ViewData["Title"] = "Lista de Emprestimos";
}


<h4>@ViewData["Title"]</h4>

<p>
    <a class="btn btn-info" asp-action="Create">Novo Empréstimo</a>
</p>
<table class="table table-hover">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Jogo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pessoa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataEmprestimo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataDevolucao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Jogo.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pessoa.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataEmprestimo,"{0:dd/mm/yyyy}")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataDevolucao)
            </td>
            <td class="text-right">
                <a class="btn btn-info" asp-action="Details" asp-route-id="@item.Id" title="Visualizar"><spam class="fa fa-search"></spam></a>
                <a class="btn btn-dark @(item.DataDevolucao.HasValue?"disabled":"")" aria-disabled="true"  asp-action="Devolution" asp-route-id="@item.Id" title="Devolução"><spam class="fa fa-undo"></spam></a>
                <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id" title="Editar"><spam class="fa fa-pencil-alt"></spam></a>
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id" title="Excluir"><spam class="fa fa-trash"></spam></a>
            </td>
        </tr>
        }
    </tbody>
</table>
